*{
    margin:o;
    padding:0;
}
body{
    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
      }
      
}

.section-one{
    background-color:black;
    color:antiquewhite;
    padding: 20px;
}
.section-one__contact{
    background-color:gray;
    color:darkblue;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    display: inline-block;
}
.section-one__name
{
 font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 40px;
}
.section-two{
    background-color: antiquewhite;
    color:blue;
    padding:20px;
}
.section-two,.section-three,.section-four,.section-five
{
     margin-top:20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top:10px;
}
.section-five{
    background-color: black;
    color: aliceblue;
    padding: 10px;
}
.section-five__title a{
    color:pink;
}
.section-three li,.section-four li{
    list-style: none;
}
.section-three{
    background-color: lightpink;
    color:black;
    padding: 20px;
    height:200px;
    border-radius: 10px;
}
.section-four{
    background-color: lightskyblue;
    color: black;
    padding:20px;
    display: inline-block;
    height:400px;
    border-radius: 10px;
    vertical-align: text-top;
}
.contact-form{
    margin-top:20px;
    border-radius: 50px;
    }
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top:10px;
}
.contact-form__input{
    padding:10px;
    border:none;
    border-bottom:slategray;

}
.contact-form__text area{
    padding:10px;
    border:none;
    border-bottom: slategray;
}
.contact-form__submit{
    padding-bottom:10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aquamarine;
    color:black;
    border:none;
}